.form {
    width: 70vw;
    margin: auto;
    padding: 50px 150px 20px;
    border-radius: 2px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
.fab:hover {
    opacity: 0.7;
}

.fa-whatsapp {
    background: #45bbff;
    color: white;
}

.imagen {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
}
.container-form {
    background: no-repeat center/cover url('../../Image/background.jpg');
}

.container-form h1 {
    text-align: center;
    padding: 20px;
}

.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .form {
        width: 100vw;
        margin: auto;
        padding: 30px;
        border-radius: 2px;
    }

    .imagen {
        position: absolute;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .form {
        width: 100vw;
        margin: auto;
        padding: 10px;
        border-radius: 2px;
    }

    .imagen {
        position: absolute;
        top: 60px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
}