.form {
    width: 70vw;
    margin: auto;
    padding: 50px 150px 20px;
    border-radius: 2px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
.fab:hover {
    opacity: 0.7;
}

.fa-whatsapp {
    background: #45bbff;
    color: white;
}

.imagen {
    position: absolute;
    top: 50px;
    right: 30px;
    width: 80px;
    height: 80px;
}
.container-form {
    background: no-repeat center/cover url('../../Image/background2.jpg');
}

.footer h3 {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: revert;
}

.container-form h1, h2, h3, h4 {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color:rgba(80, 80, 80, 0.4);
}

.container-form p {
    text-align: center;
    padding: 5px 10px 20px;
    margin: 0;
    font-weight: 500;
    font-size: large;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .form {
        width: 100vw;
        margin: auto;
        padding: 30px;
        border-radius: 2px;
    }

    .imagen {
        position: absolute;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .form {
        width: 100vw;
        margin: auto;
        padding: 10px;
        border-radius: 2px;
    }

    .imagen {
        position: absolute;
        top: 60px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
}