.form {
    width: 70vw;
    margin: auto;

    padding: 100px;
    border-radius: 2px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
.fab:hover {
    opacity: 0.7;
}

.fa-whatsapp {
    background: #45bbff;
    color: white;
}

.imagen {
    position: absolute;
    top: 20px;
    right: 20px;
}
.container-form {
    background: no-repeat center/cover url('../../Image/background.jpg');
}

.container-form h1 {
    text-align: center;
    padding: 20px;
}