.secondary {
    margin-top: 20px;
}

.BotonTable {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotonTable img {
    width: 3vw;
    height: 3vh;
}
